<!DOCTYPE html>
<html lang="en">
<head>
  <title>Games</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Games</h1>
    <%= link_to "About", about_path %>
    <p> For all ages </p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Memory</h3>
      <p>Exercise the brain.</p>
    </div>
    <div class="col-sm-4">
      <h3>Action</h3>
      <p>Experience real life action games.</p>
    </div>
    <div class="col-sm-4">
      <h3>Strategy</h3>        
      <p>Get revenge through logic.</p>
    </div>
  </div>
</div>

</body>
</html>
